version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: t3FJj0nYBC7MNNbZPymnAmaanbL5l2HW
    ports:
      - "5432:5432"

  notifier:
    build: .
    depends_on:
      - db
    env_file:
      - .env
